$break-md: 768px; // Tablet
$break-lg: 1140px; // Desktop

$gap: 15px;

$base-color: #0A151F;
$component-base-color: #242937;
$primary-color: #ffffff;
$secondary-color: #19BC9C;
$active-color: #FF295D;

